<template name="banner_chat">
	<div class="col-xs-12 col-md-12 font-century-gothic">
		<div class="box-size-banner without-trip img-responsive position color-white">
			<div class="div-btn">
				<button class="plain-button pink get-ticket-btn"><b class="travel-guide"> Travel Guide </b></button>
			</div>
			<div class="div-icon-chat">
				<i class="fa fa-arrow-right icon border-pink icon-padding"></i>
			</div>
			<p class="letter-spacing font-text">SINGAPORE</p>
			<b class="letter-spacing font-text-date">6 Jun 2016</b><br>
			<b class="letter-spacing font-text-weather"><i class="fa fa-sun-o"></i>28 - 25<sup>o</sup>C</b>
		</div>
	</div>
</template>		