<template name="banner_btn_center">	
	<div class="col-xs-12 col-md-12 font-century-gothic">
		<div class="box-size-banner landing-second img-responsive position color-white">
			<p class="font-weight font-plan">PLAN & <br> GET CONNECTED</p>
			<div class="div-btn-cntr text-center">
				<button class="plain-button pink center"><b class="travel-guide"> Travel Guide </b></button>
			</div>
			<div class="div-icon-cntr text-center">
				<i class="fa fa-arrow-right icon padding border-pink"></i>
			</div>	
		</div>
	</div>
</template>