<template name="navbar_right">	

	<div class="col-xs-12 font-open-sans">
	<nav class="navbar-default color" role="navigation">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle nav-right" data-toggle="collapse" data-target="#Mynavbar">
				<span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>      
			</button>
		</div>	
		<div class="collapse navbar-collapse" id="Mynavbar">
		  	<ul class="nav nav-pills left-tab">
			    <li class="dropdown">
			    	<a href="#" class="dropdown-toggle font-weight color-gray padding-navbar" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Show all  <b class="fa fa-chevron-down"></b></a>
			    	</li>
			    <li class="dropdown">
			    	<a href="#" class="dropdown-toggle font-weight color-gray padding-navbar" data-toggle="dropdown" data-hover="dropdown" data-delay="200">All travellers <b class="fa fa-chevron-down "></b></a>
			    </li>
			    <li class="dropdown">
			    	<a href="#" class="dropdown-toggle font-weight color-gray padding-navbar" data-toggle="dropdown" data-hover="dropdown" data-delay="200">All distance <b class="fa fa-chevron-down"></b></a>
			    </li>
		  	</ul>
	  	</div>
	  	</nav>
  	</div>
  	
</template>