<section class="headerbars">
    <breadcrumbs></breadcrumbs>
    <div class="bar bar-wizard">
        <div class="wrap">
            <ul>
                <li>
                    <strong>Planning new trip</strong>
                    <span>Travify makes it easy</span>
                </li>
                <li>
                    <strong>Step 1</strong>
                    <span>Trip information</span>
                </li>
                <li class="active">
                    <strong>Step 2</strong>
                    <span>Your interest</span>
                </li>
                <li>
                    <strong>Step 3</strong>
                    <span>Your itinerary</span>
                </li>
                <li>
                    <strong>Step 4</strong>
                    <span>Trip Summary</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="page-tripinfo" class="page-content">
    <div class="wrap">
        <h2 class="main-heading bot-border" style = "text-align: centre">Adjust your focus for this trip</style></h2>
        <number-slider title="Museums and art"></number-slider>
        <number-slider title="Nature"></number-slider>
        <number-slider title="Shopping"></number-slider>
        <number-slider title="Adventure"></number-slider>
        <number-slider title="Street and squares"></number-slider>
        <number-slider title="Monuments and landmarks"></number-slider>
        <h2 class="main-heading bot-border">Saved locations/events</h2>
        <ul class="saved-list cols-3">
            <li>
                <div class="inner card card-info selectable selected" ng-click="savedClick($event);">
                    <div class="min"><img src="./static/upload/attraction.jpg" alt="" /></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="type"><span class="fa fa-university"></span> Landmark</div>
                        <div class="tags">nature, green, musical</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner card card-info selectable selected" ng-click="savedClick($event);">
                    <div class="min"><img src="./static/upload/attraction.jpg" alt="" /></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="type"><span class="fa fa-university"></span> Landmark</div>
                        <div class="tags">nature, green, musical</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner card card-info selectable" ng-click="savedClick($event);">
                    <div class="min"><img src="./static/upload/attraction.jpg" alt="" /></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="type"><span class="fa fa-university"></span> Landmark</div>
                        <div class="tags">nature, green, musical</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner card card-info selectable" ng-click="savedClick($event);">
                    <div class="min"><img src="./static/upload/attraction.jpg" alt="" /></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="type"><span class="fa fa-university"></span> Landmark</div>
                        <div class="tags">nature, green, musical</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner card card-info selectable" ng-click="savedClick($event);">
                    <div class="min"></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="type"><span class="fa fa-map-marker"></span> Unofficial Location</div>
                        <div class="tags">nature, green, musical</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner card card-info selectable" ng-click="savedClick($event);">
                    <div class="min"><img src="./static/upload/attraction.jpg" alt="" /></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="type"><span class="fa fa-fw fa-calendar"></span> Official Event</div>
                        <div><span class="fa fa-fw fa-clock-o"></span> 10am to 12pm</div>
                        <div><span class="fa fa-fw fa-map-marker"></span> Sunghei Wetlands</div>
                        <div><span class="fa fa-fw fa-users"></span> 31 participants</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner card card-info selectable" ng-click="savedClick($event);">
                    <div class="min"></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="type"><span class="fa fa-map-marker"></span> Unofficial Location</div>
                        <div class="tags">nature, green, musical</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner card card-info selectable" ng-click="savedClick($event);">
                    <div class="min"><img src="./static/upload/attraction.jpg" alt="" /></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="type"><span class="fa fa-fw fa-calendar"></span> Official Event</div>
                        <div><span class="fa fa-fw fa-clock-o"></span> 10am to 12pm</div>
                        <div><span class="fa fa-fw fa-map-marker"></span> Sunghei Wetlands</div>
                        <div><span class="fa fa-fw fa-users"></span> 31 participants</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="align-right clearfix bottom-btns">
            <a href="#/newtrip-1" class="btn btn-asphalttr fleft">Prev step</a>
            <a href="#/loading" class="btn btn-asphalt">Next step</a>
        </div>
    </div>
</section>
