<header>
    <div class="wrap">
        <h1><a href="/"><img src="img/logo.png" alt="Travify" /></a></h1>
        <nav><ul>
            <li class="active"><a href="#">Explore</a></li>
            <li><a href="#">My Trip</a></li>
            <li><a href="#">Travel Guide</a></li>
            <li><a href="#">My Travelogue</a></li>
        </ul></nav>
        <div class="user-nav"><ul>
            <li><a href="#"><span class="fa fa-commenting"></span></a></li>
            <li><a href="#"><img src="upload/user.jpg" alt="me"/></a></li>
        </ul></div>
    </div>
</header>