<section class="headerbars">
    <breadcrumbs></breadcrumbs>
    <div class="bar bar-wizard">
        <div class="wrap">
            <ul>
                <li>
                    <strong>Planning new trip</strong>
                    <span>Travify makes it easy</span>
                </li>
                <li>
                    <strong>Step 1</strong>
                    <span>Trip information</span>
                </li>
                <li>
                    <strong>Step 2</strong>
                    <span>Your interest</span>
                </li>
                <li>
                    <strong>Step 3</strong>
                    <span>Your itinerary</span>
                </li>
                <li class="active">
                    <strong>Step 4</strong>
                    <span>Trip Summary</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="page-summary" class="page-content">
    <div id="summary">
        <div class="wrap cols-2">
            <div class="thumbnail"><img src="./static/upload/attraction.jpg" alt="" /></div>
            <div class="content">
                <div class="supheading">SINGAPORE</div>
                <h3 class="heading">Singapore</h3>
                <div class="supheading"><i class="fa fa-user"></i> PEOPLE</div>
                <h3 class="heading">3 Adults | 2 Children | 0 Infants</h3>
                <div class="cols-2 row">
                    <div>
                        <div class="supheading"><i class="fa fa-calendar"></i> DEPARATURE DATE</div>
                        <h3 class="heading">{{startDate}}</h3>
                    </div>
                    <div>
                        <div class="supheading"><i class="fa fa-calendar"></i> RETURN DATE</div>
                        <h3 class="heading">{{endDate}}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <h2 class="main-heading bot-border">Your Flight</h2>
        <ul class="cols-1">
            <li>
                <div class="inner card card-target flight" ng-repeat="flight in flights">
                    <div class="carrier"><img data-ng-src="./static/upload/flights/{{flight.carrier}}.png" alt="{{flight.carrierName}}" onerror="this.onerror=null;this.src='./static/upload/flights/default.png';" /></div>
                    <div class="central">
                        <div>
                            WAW
                            <span class="time">9:45 am</span>
                        </div>
                        <div>
                            <hr/>
                            <i class="fa fa-plane"></i>
                            <span class="time">2 hours</span>
                        </div>
                        <div>
                            LHR
                            <span class="time">9:45 am</span>
                        </div>
                    </div>
                    <div class="right">
                        <span class="price">${{flight.price}}</span>
                        <a href="#" class="btn btn-blue">Choose <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </li>
        </ul>
        <h2 class="main-heading bot-border">Your Hotel</h2>
        <ul class="cols-2">
            {{hotels}}
          <li ng-repeat="hotel in hotels">
              <div class="inner card card-booknow" ng-click="selectHotel(hotel)">
                  <div class="min"><img data-ng-src="{{hotel.img}}" alt="{{hotel.name}}" /></div>
                  <div class="content">
                      <h3 class="heading">{{hotel.name}}</h3>
                      <p>Stars: {{hotel.stars}}</p>
                      <p>Stars: {{hotel.score}}</p>
                      <!--<div class="details"><a href="#">See details</a></div>-->
                      <a href="{{hotel.url}}" class="btn btn-pink">Book now</a>
                  </div>
              </div>
          </li>
        </ul>
        <h2 class="main-heading bot-border">Your attractions</h2>
        <ul class="cols-2">
            <li>
                <div class="inner card card-booknow selected">
                    <div class="min"><img src="./static/upload/attraction.jpg" alt="" /></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="date">14 Jan 2016 - 22 Jan 2016</div>
                        <div class="details"><a href="#">See details</a></div>
                        <button class="btn btn-transparent">Book now</button>
                    </div>
                </div>
            </li>
            <li>
                <div class="inner card card-booknow selected">
                    <div class="min"><img src="./static/upload/attraction.jpg" alt="" /></div>
                    <div class="content">
                        <h3 class="heading">Botanic Gardens</h3>
                        <div class="date">14 Jan 2016 - 22 Jan 2016</div>
                        <div class="details"><a href="#">See details</a></div>
                        <button class="btn btn-transparent">Book now</button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="align-right clearfix bottom-btns">
            <a href="#/newtrip-3" class="btn btn-asphalttr fleft">Prev step</a>
            <a href="#" class="btn btn-pink">Create trip</a>
        </div>
    </div>
</section>
